<template>
  <footer class="footer">
    <div class="container-fluid d-flex flex-wrap justify-content-between">
      <!--<nav>
        <ul>
          <li>
            <router-link :to="{path:'/admin'}">Web For Admin Train Me Food</router-link>
          </li>
        </ul>
      </nav>-->
      <div class="copyright d-flex flex-wrap">
        &copy; Coded with SpriteZadis
      </div>
    </div>
  </footer>
</template>
<script>
export default {};
</script>
<style>
</style>
