<template>
  <card class="card" title="ตารางผู้ใช้">
    <thead>
              <tr>
                <th style="width:13%; text-align:center">ID</th>
                <th style="width:13%; text-align:center">Username</th>
                <th style="width:13%; text-align:center">Firstname</th>
                <th style="width:13%; text-align:center">Lastname</th>
                <th style="width:13%; text-align:center">Email</th>
                <th style="width:13%; text-align:center">Telephone</th>
                <th style="width:13%; text-align:center">Picture</th>
                <th style="width:13%; text-align:center">Delete</th>
                <th style="width:13%; text-align:center">Edit</th> 
              </tr>
            </thead>

           <tbody> 
              <tr v-for="(info, index) in $store.state.a.appointment" :key="index" style="text-align:center">
                <td>{{ index + 1 }}</td>
                <td v-if="index !== editIndex">{{ info.U_Username }}</td>
                <td v-if="index !== editIndex">{{ info.U_Fname }}</td>
                <td v-if="index !== editIndex">{{ info.U_Lname }}</td>
                <td v-if="index !== editIndex">{{ info.U_Email }}</td>
                <td v-if="index !== editIndex">{{ info.U_Tel }}</td>
                <td> <img v-bind:src="`${info.U_Pic}`" width="100" height="100"></td>
                
                <!-- <td v-if="index !== editIndex">
                  <button
                    type="button"
                    class="btn btn-danger mr-2"
                    v-on:click="deleteinfo(index,info.U_Username)"
                  >
                    ลบ
                  </button>

    
                </td> -->

                <td v-if="index !== editIndex">
                  <button
                    type="button"
                    class="btn btn-warning"
                    v-on:click="openEdit(index,info)"
                  >
                    แก้ไข
                  </button>
                  </td>

                <td v-if="index === editIndex">
                  <input type="text" v-model="U_Fname" class="form-control"/>
                </td>

                <td v-if="index === editIndex">
                  <input type="text" v-model="U_Lname" class="form-control" v-on:change="patient = $event.target.value"/>
                </td>

                <td v-if="index === editIndex">
                  <input type="text" v-model="U_Email" class="form-control" v-on:change="patient = $event.target.value"/>
                </td>

                <td v-if="index === editIndex">
                  <input type="email" v-model="U_Tel" class="form-control" v-on:change="note = $event.target.value"/>
                </td>

                <!-- <td v-if="index === editIndex">
                  <input type="number" :value="U_Tel" class="form-control" v-on:change="note = $event.target.value"/>
                </td> -->

                <td v-if="index === editIndex">
                  <button 
                    type="button" 
                    class="btn btn-success"
                    v-on:click="editinfo()"
                  >
                    ยืนยัน
                  </button> 

                  <button 
                    type="button"
                    class="btn btn-secondary"
                    v-on:click="closeEdit()"
                  >
                    ยกเลิก
                  </button>                                  
                </td>
              </tr>
            </tbody>

            

            
  </card>


  
</template>
<script>

// import {db} from '../components/firebase';

export default {
  data() {
    return {
      editIndex: -1,
      U_Username: "",
      U_Fname: "",
      U_Lname: "",
      U_Email: "",
      U_Tel: "",
      U_Pic: "",
      item:{},
    };
  },
  created() {
    this.fetchList();
  },
  methods: {
    fetchList(){
      this.$store.dispatch("fetchList").a;
    },
    fetchAppointment() {
      this.$store.dispatch("fetchAppointment").a;
    },
    deleteinfo(index,name) {
      let payload = { index: index, username : name };

      this.$store.dispatch("deleteinfo", payload).a
    },

    openEdit(index, info) {
      this.editIndex = index;
      this.U_Username = info.U_Username;
      this.U_Fname = info.U_Fname;
      this.U_Lname = info.U_Lname;
      this.U_Email = info.U_Email;
      this.U_Tel = info.U_Tel;
      this.U_Pic = info.U_Pic;
     
    },  
    
    closeEdit() {
      this.editIndex = -1;
      this.U_Username = "";
      this.U_Fname = "";
      this.U_Lname = "";
      this.U_Email = "";
      this.U_Tel = "";
      this.U_Pic = "";
    }, 
      
    editinfo() {
      let payload = {
        index: this.editIndex,

        U_Username: this.U_Username,
        U_Fname: this.U_Fname,
        U_Lname: this.U_Lname,
        U_Email: this.U_Email,
        U_Tel: this.U_Tel,
        U_Pic: this.U_Pic
      };

    
      
      this.$store.dispatch("editinfo", payload).a
      this.closeEdit()
    }     
  }
};
</script>

<style scoped>
button {
  padding: 2.5px 15px;
  text-align:center; 
  border-radius: 12px;
}
</style>
