<template>
  <div style="background-color: #FBFBFB; height: 665px">
  <div v-if="add">
    <div>

      <div class="card">

        <div class="card-header">
          <h2>เพิ่มกีฬา</h2>
        </div>

        <div class="card-body">
            <div class="form-group"> <!--date and time-->
              <label style="margin-top: 50px; margin-left:150px; margin-right:5px">ชื่อกีฬา</label>
              <span class="inline">
                <input  type="text" class="form-control" placeholder="ชื่อสำหรับกีฬาที่นำเข้า" v-model="name" 
                style="margin-top: 1px; margin-right: 10px text-align:center; width:200px"
                />
                </span>

            </div>

            <div class="form-group"> <!--patient name-->
              <label style="margin-top: 50px; margin-left: 150px; margin-right:5px">จำนวน/เซ็ท</label>
              <span class="inline">
                <input  type="text" class="form-control" placeholder="จำนวนครั้งในการออกกำลังกาย" v-model="amount" 
                style="margin-top: 1px; margin-right: 10px text-align:center; width:200px"
                />
              </span>
              <span class="space1"></span>
            </div>

            <div class="form-group"> <!--patient name-->
              <label style="margin-top: 50px; margin-left: 150px; margin-right:5px">เวลา</label>
              <span class="inline">
                <input  type="text" class="form-control" placeholder="ระยะเวลาในการออกกำลังกาย" v-model="time" 
                style="margin-top: 1px; margin-right: 10px text-align:center; width:200px"
                />
              </span>
              <span class="space1"></span>
            </div>

            <div class="form-group"> <!--patient name-->
              <label style="margin-top: 50px; margin-left: 150px; margin-right:5px">แคลลอรี่</label>
              <span class="inline">
                <input  type="text" class="form-control" placeholder="แคลลอรี่ที่สูญเสียไป" v-model="cal" 
                style="margin-top: 1px; margin-right: 10px text-align:center; width:200px"
                />
              </span>
              <span class="space1"></span>
            </div>

            <div class="form-group"> <!--patient name-->
              <label style="margin-top: 50px; margin-left: 150px; margin-right:5px">ประโยชน์</label>
              <span class="inline">
                <input  type="text" class="form-control" placeholder="ประโยชน์ในการออกกำลังกาย" v-model="advantage" 
                style="margin-top: 1px; margin-right: 10px text-align:center; width:200px"
                />
              </span>
              <span class="space1"></span>
            </div>

            

            <br/>

            <button 
              type="submit" 
              class="btn btn-success"
              @click="pushExercise()"
            >
              ส่งข้อมูล
            </button> <!--save button-->
            <button
            class="btn btn-success"
            @click="addExercise()"
            >
              ยกเลิก
            </button>
        </div>      
      </div>
    
    </div>
  </div>
    <div>
      <div class="card">
        
          
          
           <table class="table">
            <thead>
              <tr>
                <th>ชื่อกีฬา</th>
                <th>จำนวน/เซ็ท</th>
                <th>เวลา</th>
                <th>แคลที่ใช้</th>
                <th>ประโยชน์</th>
                <!--<th>Edit</th> 
                <th>Delete</th> -->
              </tr>
            </thead>
            <tbody> 
              <tr v-for="(exercise, index) in $store.state.c.exercise" :key="index">
                <td v-if="index !== editIndex">{{ exercise.name }}</td>
                <td v-if="index !== editIndex">{{ exercise.amount }}</td>
                <td v-if="index !== editIndex">{{ exercise.time }}</td>
                <td v-if="index !== editIndex">{{ exercise.cal }}</td>
                <td v-if="index !== editIndex">{{ exercise.advantage }}</td>
                
               
                  <!-- <td v-if="index !== editIndex">
                  <button
                    type="button"
                    v-on:click="deleteinfo(index)"
                  >
                    ลบ
                  </button>
                </td>  -->
              
              </tr>
             
            </tbody>
               
          </table>
     
      </div>
    </div>
    <button @click="addExercise">เพิ่มกีฬาลงตาราง</button>
  </div>
  
</template>



<script>
import {db} from '../components/firebase';


export default {
  data() {
    return {
      editIndex: -1,
      name: "",
      amount: "",
      time: "",
      cal: "",
      advantage: "",
      item:{},
      add : false
    };
  },
  created() {
     this.$store.dispatch("fetchexercise").b;
  },
   methods: {
     addExercise(){
       this.add = !this.add;
     },
    pushExercise(){
      var payload = {name:this.name,amount:this.amount,time:this.time,cal:this.cal,advantage:this.advantage}
      db.ref('Exercise').push(payload)
      .then(window.alert("Exercise has been added"))
      .then(() => {
        [this.name,this.amount,this.time,this.cal,this.advantage] = ["","","","",""]
        this.add = false;
        } );
    },
    deleteinfo(index) {
     
      var payload = {index}
      this.$store.dispatch("deleteexercise", payload).b
    },
    uploadImage(){
     /** */
    }

  }
  
};
</script>
<style scoped> /*button style and other*/
button {
  background-color:rgb(112, 226, 116);
  border:1px rgb(95, 190, 98);
  color:rgba(56, 56, 56, 0.911);
  padding: 2.5px 15px;
  text-align:center; 
  margin-top: 105px;
  margin-bottom: 20px;
  margin-left: 985px;
  margin-right: 20px;
  border-radius: 12px;
}

.inline {
  display: inline-block; 
  /* margin-left: 3px !important;  */
}

.inline1 {
  display: inline-block; 
  margin-left: 15% !important;
}

.space1 {
  display: inline-block !important; 
  width:20% !important;
}

.space2 {
  display: inline-block !important; 
  width:15% !important;
}

</style>