<template>
  <div style="background-color: #FBFBFB; height: 665px">
  <div v-if="add">
    <div>

      <div class="card">

        <div class="card-header">
          <h2>เพิ่มอาหาร</h2>
        </div>

        <div class="card-body">
            <div class="form-group"> <!--date and time-->
              <label style="margin-top: 50px; margin-left:150px; margin-right:5px">ชื่ออาหาร</label>
              <span class="inline">
                <input  type="text" class="form-control" placeholder="ชื่อสำหรับอาหารที่นำเข้า" v-model="name" 
                style="margin-top: 1px; margin-right: 10px text-align:center; width:200px"
                />
                </span>

            </div>

            <div class="form-group"> <!--patient name-->
              <label style="margin-top: 50px; margin-left: 150px; margin-right:5px">แคลลอรี่</label>
              <span class="inline">
                <input  type="number" class="form-control" placeholder="แคลลอรี่ของอาหาร" v-model="cal" 
                style="margin-top: 1px; margin-right: 10px text-align:center; width:200px"
                />
              </span>

              
              
              <span class="space1"></span>


              

            </div>

            <div class="form-group"> 
              <label style="margin-top: 50px; margin-left: 150px; margin-right:5px">รูปภาพ</label>
              <span class="inline">
                <v-container>

                  <v-layout>
                    <v-flex xs12 sm6 offset-sm3>
                      <!-- <input type="file"/> -->
                      <input type = "file" @change="uploadImage()" class="form-control">
                    </v-flex>
                  </v-layout>
                </v-container>
               
              </span>
              
              <span class="space1"></span>

            </div>

            <br/>

            <button 
              type="submit" 
              class="btn btn-success"
              @click="pushFood()"
            >
              ส่งข้อมูล
            </button> <!--save button-->
            <button
            class="btn btn-success"
            @click="addFood()"
            >
              ยกเลิก
            </button>
        </div>      
      </div>
    
    </div>
  </div>
    <div>
      <div class="card">
        
          
          
           <table class="table">
            <thead>
              <tr>
                <th>ชื่ออาหาร</th>
                <th>จำนวนแคล</th>
                <th>รูปภาพ</th>
                <th>Edit</th>
                <th>Edit</th>
                <th>Edit</th>
                <th>Edit</th>
                <th>Edit</th>
                <!-- <th>Edit</th> 
                <th>Delete</th> -->
              </tr>
            </thead>
            <tbody> 
              <tr v-for="(food, index) in $store.state.b.food" :key="index">
                <td v-if="index !== editIndex">{{ food.name }}</td>
                <td v-if="index !== editIndex">{{ food.cal }}</td>
                <td> <img v-bind:src="`${food.pic}`" width="50" height="50"></td>
                
               
                  <!-- <td v-if="index !== editIndex">
                  <button
                    type="button"
                    v-on:click="deleteinfo(index)"
                  >
                    ลบ
                  </button>
                </td>  -->
              
              </tr>
             
            </tbody>
               
          </table>
     
      </div>
    </div>
    <button @click="addFood">เพิ่มอาหาร</button>
  </div>
  
</template>



<script>
// import { PaperTable } from "@/components";
// const tableColumns = ["Id", "Name", "Salary", "Country", "City"];
import {db} from '../components/firebase';


export default {
  data() {
    return {
      editIndex: -1,
      name: "",
      cal: "",
      pic:null,
      item:{},
      add : false
    };
  },
  created() {
     this.$store.dispatch("fetchfood").b;
  },
   methods: {
     addFood(){
       this.add = !this.add;
     },
    pushFood(){
      var payload = {name:this.name,cal:this.cal,pic:this.pic}
      db.ref('Food').push(payload)
      .then(window.alert("Food has been added"))
      .then(() => {
        [this.name,this.cal,this.pic] = ["","",""]
        this.add = false;
        } );
    },
    deleteinfo(index) {
     
      var payload = {index}
      this.$store.dispatch("deletefood", payload).b
    },
    uploadImage(){
     /** */
    }

  }
  
};
</script>
<style scoped> /*button style and other*/
button {
  background-color:rgb(112, 226, 116);
  border:1px rgb(95, 190, 98);
  color:rgba(56, 56, 56, 0.911);
  padding: 2.5px 15px;
  text-align:center; 
  margin-top: 105px;
  margin-bottom: 20px;
  margin-left: 985px;
  margin-right: 20px;
  border-radius: 12px;
}

.inline {
  display: inline-block; 
  /* margin-left: 3px !important;  */
}

.inline1 {
  display: inline-block; 
  margin-left: 15% !important;
}

.space1 {
  display: inline-block !important; 
  width:20% !important;
}

.space2 {
  display: inline-block !important; 
  width:15% !important;
}

</style>